**
!.gitignore
!.zprofile
!.config
!.config/bat
!.config/bat/config
!.config/btop
!.config/btop/btop.conf
!.config/dunst
!.config/dunst/dunstrc
!.config/easyeffects
!.config/easyeffects/input/CondensorMic.json
!.config/easyeffects/output/Earphones.json
!.config/feh
!.config/feh/themes
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/gamemode
!.config/gamemode/gamemode.ini
!.config/legendary
!.config/legendary/config.ini
!.config/lf
!.config/lf/*
!.config/mopidy
!.config/mopidy/mopidy.conf
!.config/ncmpcpp
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/neofetch
!.config/neofetch/config.conf
!.config/paru
!.config/paru/paru.conf
!.config/picom
!.config/picom/picom.conf
!.config/rofi
!.config/rofi/config.rasi
!.config/shell
!.config/shell/*
!.config/wal
!.config/wal/*
!.config/wezterm
!.config/wezterm/*
!.config/x11
!.config/x11/xinitrc
!.config/xbindkeys
!.config/xbindkeys/config
!.config/zsh
!.config/zsh/*
!.config/modprobed.db
!.config/user-dirs.dirs
