**
!.gitignore
!.zprofile
!.config
!.config/bat
!.config/bat/config
!.config/btop
!.config/btop/btop.conf
!.config/dunst
!.config/dunst/dunstrc
!.config/easyeffects
!.config/easyeffects/input
!.config/easyeffects/input/CondensorMic.json
!.config/feh
!.config/feh/themes
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/gamemode
!.config/gamemode/gamemode.ini
!.config/gtk-2.0
!.config/gtk-2.0/gtkrc-2.0
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0
!.config/gtk-4.0/settings.ini
!.config/legendary
!.config/legendary/config.ini
!.config/lf
!.config/lf/*
!.config/mopidy
!.config/mopidy/mopidy.conf
!.config/mpv
!.config/mpv/**
!.config/ncmpcpp
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/neofetch
!.config/neofetch/config.conf
!.config/newsboat
!.config/newsboat/config
!.config/npm
!.config/npm/*
!.config/paru
!.config/paru/paru.conf
!.config/picom
!.config/picom/picom.conf
!.config/qt6ct
!.config/qt6ct/**
!.config/shell
!.config/shell/*
!.config/tmux
!.config/tmux/tmux.conf
!.config/wal
!.config/wal/*
!.config/x11
!.config/x11/xinitrc
!.config/xbindkeys
!.config/xbindkeys/config
!.config/ytfzf
!.config/ytfzf/**
!.config/zsh
!.config/zsh/*
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/wgetrc
!.local
!.local/bin
!.local/bin/statusbar
!.local/bin/statusbar/*
!.local/bin/dmenumoji.sh
!.local/bin/dwm-restart.sh
!.local/bin/lfub
!.local/bin/monitor_layout.sh
!.local/bin/set-wallpaper
!.local/share
!.local/share/char
!.local/share/char/*
