/* Dark theme. */
@import "~/.cache/wal/colors-rofi-dark"

/* Light theme. */
@import "~/.cache/wal/colors-rofi-light"

configuration {
  combi-modes: "run,ssh";
  mode: "run";
  modi: "run,ssh,combi";
//  icon-theme: "Hack Nerd Font";
  show-icons: true;
  show: "combi";
}
